.usercard-component {
  padding: 1.5rem;
  background-color: $lm-white;
  border-radius: 1rem;
  margin: 1rem 0;
  .user-overview {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5rem 0;
    img {
      width: clamp(4.375rem, 15vw, 7.3125rem);
      border-radius: 50%;
      margin-right: 1rem;
    }
  }
  .bio-info {
    margin: 2rem 0 1rem;
  }
  .user-stats {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    background-color: $lm-offwhite;
    padding: 1.5rem 0;
    margin: 1.5rem 0;
    border-radius: 0.5rem;
  }
  .user-info {
    div {
      display: flex;
      margin: 1rem 0;
      justify-content: flex-start;
      align-items: center;
      img {
        margin-right: 1rem;
      }
    }
  }
}
