* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #f6f8ff;
  overflow: hidden;
  img {
    display: block;
  }
  button {
    cursor: pointer;
  }
}

.App {
  width: 90%;
  margin: clamp(3vh, 5vw, 7vh) auto;
  max-width: 40rem;
}
