// COMMON
$blue: #0079ff;

// LIGHT MODE

$lm-gray: #697c9a;
$lm-desaturated-blue: #4b6a9b;
$lm-desaturated-black: #2b3442;

$lm-offwhite: #f6f8ff;
$lm-white: #fefefe;

// DARK MODE
$dm-white: #fefefe;
$dm-darkest-blue: #141d2f;
$navy-blue: #1e2a47;